/** Import fonts: */
@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 100 900;
    font-style: normal;
    font-display: swap;
    src: url("./Fonts/montserrat_normal_variable.woff2") format("woff2"),
         url("./Fonts/montserrat_normal_variable.ttf") format("truetype");
}

@font-face {
    font-family: "Montserrat", sans-serif;
    font-weight: 100 900;
    font-style: italic;
    font-display: swap;
    src: url("./Fonts/montserrat_italic_variable.woff2") format("woff2"),
         url("./Fonts/montserrat_italic_variable.ttf") format("truetype");
}

/** Global configs: */
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body::-webkit-scrollbar {
    display: none;
}

canvas {
    display: block;
}